
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #303841;
  font-family: 'roboto', sans-serif;
  background-image: radial-gradient(#3A4750, #303841);
  
}

.navbar-container {
  display: flex;
  justify-content: center;
  
}

.navbar {
  background-color: #3A4750;
  padding: 15px 10px;
  border-radius: 20px;
  max-width: 900px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  margin-top: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: #F3F3F3;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 15px;
  transition: 0.3s;
}

.navbar ul li a:hover {
  background-color: #303841;
}


.contenedor-info{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 450px;
  width: 100%;
  
}

.info h1{
  font-size: 6em; 
  color: #F3F3F3;
}
.info h2{
  font-size: 2em;
  color: #2185D5;
  
}

@media screen and (max-width: 410px) {
  .info h1{
    font-size: 3em; 
  }
  .info h2{
    font-size: 1.5em;
  }
  .navbar ul li a {  
    padding: 10px 1px;
  }
}

section{
  height: 100vh;
}

.separador{
  display: flex;
  position: absolute;
  align-items:end;
  justify-content: center;
  bottom: 10px;
  background-color: #2185D5;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.flecha{
  width: 40px;
  height: 40px;
}

#proyectos{
  
  color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



